codigos/servidor/flowDashboard.json
[
   {
      "id":"3542506f.a44c6",
      "type":"tab",
      "label":"Dashboard",
      "disabled":false,
      "info":""
   },
   {
      "id":"f3f33fef.ea012",
      "type":"ui_gauge",
      "z":"3542506f.a44c6",
      "name":"",
      "group":"d077ebb5.288008",
      "order":3,
      "width":6,
      "height":"3",
      "gtype":"gage",
      "title":"Temperatura Atual",
      "label":"ºC",
      "format":"{{msg.payload.uplink_message.decoded_payload.temp}}",
      "min":0,
      "max":"100",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":810,
      "y":300,
      "wires":[
         
      ]
   },
   {
      "id":"4e3b8faa.24bbc",
      "type":"ui_gauge",
      "z":"3542506f.a44c6",
      "name":"",
      "group":"d077ebb5.288008",
      "order":5,
      "width":6,
      "height":"3",
      "gtype":"gage",
      "title":"Distancia Atual",
      "label":"cm",
      "format":"{{msg.payload.uplink_message.decoded_payload.distancia}}",
      "min":0,
      "max":"200",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":800,
      "y":380,
      "wires":[
         
      ]
   },
   {
      "id":"fbc5b28c.1ef2c",
      "type":"ui_gauge",
      "z":"3542506f.a44c6",
      "name":"",
      "group":"d077ebb5.288008",
      "order":4,
      "width":6,
      "height":"3",
      "gtype":"gage",
      "title":"Umidade Atual",
      "label":"%",
      "format":"{{msg.payload.uplink_message.decoded_payload.umidade}}",
      "min":0,
      "max":"100",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":800,
      "y":340,
      "wires":[
         
      ]
   },
   {
      "id":"33b90f0d.5b18c",
      "type":"ui_gauge",
      "z":"3542506f.a44c6",
      "name":"",
      "group":"d077ebb5.288008",
      "order":6,
      "width":"6",
      "height":"3",
      "gtype":"gage",
      "title":"Bateria Atual",
      "label":"units",
      "format":"{{msg.payload.uplink_message.decoded_payload.baterylevel}}",
      "min":0,
      "max":"100",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":790,
      "y":420,
      "wires":[
         
      ]
   },
   {
      "id":"6169e026.18ed",
      "type":"ui_gauge",
      "z":"3542506f.a44c6",
      "name":"",
      "group":"d077ebb5.288008",
      "order":7,
      "width":"6",
      "height":"3",
      "gtype":"gage",
      "title":"Pluviometro Atual",
      "label":"units",
      "format":"{{msg.payload.uplink_message.decoded_payload.temporeed}}",
      "min":0,
      "max":"100",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":810,
      "y":460,
      "wires":[
         
      ]
   },
   {
      "id":"6cf7505a.58cc3",
      "type":"link in",
      "z":"3542506f.a44c6",
      "name":"Graficos",
      "links":[
         "c04d179e.866ed8"
      ],
      "x":575,
      "y":380,
      "wires":[
         [
            "f3f33fef.ea012",
            "fbc5b28c.1ef2c",
            "4e3b8faa.24bbc",
            "33b90f0d.5b18c",
            "6169e026.18ed"
         ]
      ]
   },
   {
      "id":"2802b803.881128",
      "type":"ui_template",
      "z":"3542506f.a44c6",
      "group":"c982fbb8.1deb38",
      "name":"Clock Toolbar",
      "order":2,
      "width":"0",
      "height":"0",
      "format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
      "storeOutMessages":false,
      "fwdInMessages":false,
      "resendOnRefresh":false,
      "templateScope":"global",
      "x":520,
      "y":20,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"3420debf.a58542",
      "type":"ui_chart",
      "z":"3542506f.a44c6",
      "name":"Umidade",
      "group":"ce0bb389.be90e",
      "order":3,
      "width":12,
      "height":4,
      "label":"Umidade",
      "chartType":"line",
      "legend":"false",
      "xformat":"dd HH:mm",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"15",
      "ymax":"100",
      "removeOlder":"1",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "useUTC":false,
      "colors":[
         "#edff00",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "outputs":1,
      "useDifferentColor":false,
      "x":380,
      "y":380,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"14d93f7e.40ff71",
      "type":"ui_chart",
      "z":"3542506f.a44c6",
      "name":"Temperatura",
      "group":"ce0bb389.be90e",
      "order":2,
      "width":12,
      "height":4,
      "label":"Temperatura",
      "chartType":"line",
      "legend":"false",
      "xformat":"dd HH:mm",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"10",
      "ymax":"30",
      "removeOlder":"1",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "useUTC":false,
      "colors":[
         "#edff00",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "outputs":1,
      "useDifferentColor":false,
      "x":390,
      "y":320,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"e5c2878a.9129d8",
      "type":"ui_chart",
      "z":"3542506f.a44c6",
      "name":"Distância",
      "group":"ce0bb389.be90e",
      "order":4,
      "width":12,
      "height":4,
      "label":"Distância",
      "chartType":"line",
      "legend":"false",
      "xformat":"dd HH:mm",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"0",
      "ymax":"110",
      "removeOlder":"1",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "useUTC":false,
      "colors":[
         "#edff00",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "outputs":1,
      "useDifferentColor":false,
      "x":380,
      "y":440,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"eadb1a37.96d9c8",
      "type":"ui_chart",
      "z":"3542506f.a44c6",
      "name":"Pluviometro",
      "group":"ce0bb389.be90e",
      "order":5,
      "width":12,
      "height":4,
      "label":"Pluviometro",
      "chartType":"line",
      "legend":"false",
      "xformat":"dd HH:mm",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"0",
      "ymax":"80",
      "removeOlder":"1",
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "useUTC":false,
      "colors":[
         "#edff00",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "outputs":1,
      "useDifferentColor":false,
      "x":390,
      "y":500,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"fa3797ea.61e428",
      "type":"ui_table",
      "z":"3542506f.a44c6",
      "group":"80938f26.0bc22",
      "name":"",
      "order":3,
      "width":15,
      "height":11,
      "columns":[
         {
            "field":"nomeDevice",
            "title":"Nome Device",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"timestamp",
            "title":"Timestamp",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"distancia",
            "title":"Distância",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"temp",
            "title":"Temperatura",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"umidade",
            "title":"Umidade",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"temporeed",
            "title":"Pluviometro",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         }
      ],
      "outputs":0,
      "cts":false,
      "x":770,
      "y":140,
      "wires":[
         
      ]
   },
   {
      "id":"cc6145b9.4f1f08",
      "type":"link in",
      "z":"3542506f.a44c6",
      "name":"Limpa Tabela",
      "links":[
         "1fd22ed4.ee8301"
      ],
      "x":655,
      "y":100,
      "wires":[
         [
            "fa3797ea.61e428"
         ]
      ]
   },
   {
      "id":"49dbfeff.d0936",
      "type":"link in",
      "z":"3542506f.a44c6",
      "name":"Limpa Grafico",
      "links":[
         "1fd22ed4.ee8301"
      ],
      "x":235,
      "y":260,
      "wires":[
         [
            "14d93f7e.40ff71",
            "3420debf.a58542",
            "e5c2878a.9129d8",
            "eadb1a37.96d9c8"
         ]
      ]
   },
   {
      "id":"43a0138c.f233ec",
      "type":"link in",
      "z":"3542506f.a44c6",
      "name":"",
      "links":[
         "423b79fe.1bf6a8"
      ],
      "x":155,
      "y":320,
      "wires":[
         [
            "14d93f7e.40ff71"
         ]
      ]
   },
   {
      "id":"35ce013.4ab3afe",
      "type":"link in",
      "z":"3542506f.a44c6",
      "name":"",
      "links":[
         "392f3bd4.1f9fd4"
      ],
      "x":155,
      "y":380,
      "wires":[
         [
            "3420debf.a58542"
         ]
      ]
   },
   {
      "id":"8dbad59a.fe5218",
      "type":"link in",
      "z":"3542506f.a44c6",
      "name":"",
      "links":[
         "2371ac3b.4f9454"
      ],
      "x":155,
      "y":440,
      "wires":[
         [
            "e5c2878a.9129d8"
         ]
      ]
   },
   {
      "id":"b2a69078.cf1eb",
      "type":"link in",
      "z":"3542506f.a44c6",
      "name":"",
      "links":[
         "3c28712c.a2509e"
      ],
      "x":155,
      "y":500,
      "wires":[
         [
            "eadb1a37.96d9c8"
         ]
      ]
   },
   {
      "id":"64d7fcb8.3275e4",
      "type":"link in",
      "z":"3542506f.a44c6",
      "name":"",
      "links":[
         "9e5358af.2a07e8"
      ],
      "x":655,
      "y":180,
      "wires":[
         [
            "fa3797ea.61e428"
         ]
      ]
   },
   {
      "id":"15cd0788.6233c8",
      "type":"ui_text",
      "z":"3542506f.a44c6",
      "group":"80938f26.0bc22",
      "order":1,
      "width":15,
      "height":1,
      "name":"",
      "label":"Relatório",
      "format":"{{msg.payload}}",
      "layout":"row-center",
      "x":780,
      "y":80,
      "wires":[
         
      ]
   },
   {
      "id":"56f70f05.b5074",
      "type":"ui_form",
      "z":"3542506f.a44c6",
      "name":"formRelatorio",
      "label":"",
      "group":"80938f26.0bc22",
      "order":2,
      "width":15,
      "height":1,
      "options":[
         {
            "label":"Start Date",
            "value":"startDate",
            "type":"date",
            "required":true,
            "rows":null
         },
         {
            "label":"Start Time",
            "value":"startTime",
            "type":"text",
            "required":true,
            "rows":null
         },
         {
            "label":"End Date",
            "value":"endDate",
            "type":"date",
            "required":true,
            "rows":null
         },
         {
            "label":"End Time",
            "value":"endTime",
            "type":"text",
            "required":true,
            "rows":null
         }
      ],
      "formValue":{
         "startDate":"",
         "startTime":"",
         "endDate":"",
         "endTime":""
      },
      "payload":"",
      "submit":"Pesquisar",
      "cancel":"Cancelar",
      "topic":"",
      "topicType":"str",
      "splitLayout":true,
      "x":140,
      "y":80,
      "wires":[
         [
            "c596e930.a5ab68"
         ]
      ]
   },
   {
      "id":"b5469cb.5f5406",
      "type":"ui_form",
      "z":"3542506f.a44c6",
      "name":"formMonitoramento",
      "label":"",
      "group":"ce0bb389.be90e",
      "order":1,
      "width":12,
      "height":1,
      "options":[
         {
            "label":"Start Date",
            "value":"startDate2",
            "type":"date",
            "required":true,
            "rows":null
         },
         {
            "label":"Start Time",
            "value":"startTime2",
            "type":"text",
            "required":true,
            "rows":null
         },
         {
            "label":"End Date",
            "value":"endDate2",
            "type":"date",
            "required":true,
            "rows":null
         },
         {
            "label":"End Time",
            "value":"endTime2",
            "type":"text",
            "required":true,
            "rows":null
         }
      ],
      "formValue":{
         "startDate2":"",
         "startTime2":"",
         "endDate2":"",
         "endTime2":""
      },
      "payload":"",
      "submit":"Pesquisar",
      "cancel":"Cancelar",
      "topic":"",
      "topicType":"str",
      "splitLayout":true,
      "x":150,
      "y":160,
      "wires":[
         [
            "4156e51f.e6ae7c"
         ]
      ]
   },
   {
      "id":"c596e930.a5ab68",
      "type":"link out",
      "z":"3542506f.a44c6",
      "name":"Form relatorio - form",
      "links":[
         "489305ff.a41f3c"
      ],
      "x":335,
      "y":80,
      "wires":[
         
      ]
   },
   {
      "id":"4156e51f.e6ae7c",
      "type":"link out",
      "z":"3542506f.a44c6",
      "name":"Form Monitoramento - form",
      "links":[
         "f548c4fe.6ee328"
      ],
      "x":335,
      "y":160,
      "wires":[
         
      ]
   },
   {
      "id":"d077ebb5.288008",
      "type":"ui_group",
      "name":"Ultima Coleta",
      "tab":"eebde058.2a2df",
      "order":1,
      "disp":false,
      "width":"6",
      "collapse":false
   },
   {
      "id":"c982fbb8.1deb38",
      "type":"ui_group",
      "name":"hidden_group",
      "tab":"",
      "order":1,
      "disp":false,
      "width":"6",
      "collapse":false
   },
   {
      "id":"ce0bb389.be90e",
      "type":"ui_group",
      "name":"monitoramento",
      "tab":"eebde058.2a2df",
      "order":2,
      "disp":false,
      "width":"12",
      "collapse":false
   },
   {
      "id":"80938f26.0bc22",
      "type":"ui_group",
      "name":"Relatorio",
      "tab":"f5e02f4c.ef2af",
      "order":1,
      "disp":false,
      "width":"15",
      "collapse":false
   },
   {
      "id":"eebde058.2a2df",
      "type":"ui_tab",
      "name":"HMB-Monitoramento",
      "icon":"dashboard",
      "order":7,
      "disabled":false,
      "hidden":false
   },
   {
      "id":"f5e02f4c.ef2af",
      "type":"ui_tab",
      "name":"HMB-Relatório",
      "icon":"dashboard",
      "order":8,
      "disabled":false,
      "hidden":false
   }
]
