codigos/servidor/flowSistema.json
[
   {
      "id":"d7213e9a.3798b",
      "type":"tab",
      "label":"Sistema",
      "disabled":false,
      "info":""
   },
   {
      "id":"70c6c75e.188ef8",
      "type":"function",
      "z":"d7213e9a.3798b",
      "name":"insere no banco",
      "func":"// ESSE TAVA FUNCIONANDO\n//var Temperatura = msg.payload.Temperatura\n//var Umidade = msg.payload.Umidade\n//var Pressao = msg.payload.Pressao\n//var ValorTemperatura = msg.payload.ValorTemperatura\n//var ValorUmidade = msg.payload.ValorUmidade\n//var ValorPressao = msg.payload.ValorPressao\n\nvar Timestamp = (new Date(msg.payload.received_at)).valueOf()/1000\n//var Timestamp = new Date(msg.payload.end_device_ids.device_id)\n//var Timestamp = msg.payload.received_at\nvar Nomedevice = msg.payload.end_device_ids.device_id\n//var Nivelbateria = msg.payload.uplink_message.decoded_payload.baterylevel\nvar Valordistancia = msg.payload.uplink_message.decoded_payload.distancia\nvar Valortemp = msg.payload.uplink_message.decoded_payload.temp\nvar Valortemporeed = msg.payload.uplink_message.decoded_payload.temporeed\nvar Valorumidade = msg.payload.uplink_message.decoded_payload.umidade\n\n//msg.payload = [ValorTemperatura,ValorUmidade,ValorPressao]\n//var ValorUmidade = msg.payload.ValorUmidade\n//var ValorPressao = msg.payload.ValorPressao.payload\n\n// TAVA FUNCIONANDO\n//msg.topic = \"INSERT INTO pji3(`temperatura`, `umidade`, `pressao`) VALUES ('\"+ValorDistancia+\"', '\"+Valortemp+\"', '\"+Valortemporeed+\"', '\"+Valorumidade+\"')\";\n\n//msg.topic = \"INSERT INTO pji(`timestamp`, `nomeDevice`, `nivelBateria`, `distancia`, `temp`, `temporeed`, `umidade`) VALUES(FROM_UNIXTIME(\"+Timestamp+\"), '\"+Nomedevice+\"', '\"+Nivelbateria+\"', '\"+Valordistancia+\"', '\"+Valortemp+\"', '\"+Valortemporeed+\"', '\"+Valorumidade+\"')\";\nmsg.topic = \"INSERT INTO pji(`timestamp`, `nomeDevice`, `distancia`, `temp`, `temporeed`, `umidade`) VALUES(FROM_UNIXTIME(\"+Timestamp+\"), '\"+Nomedevice+\"', '\"+Valordistancia+\"', '\"+Valortemp+\"', '\"+Valortemporeed+\"', '\"+Valorumidade+\"')\";\n//msg.topic = \"INSERT INTO pji(`nomeDevice`, `distancia`, `temp`, `temporeed`, `umidade`) VALUES ('\"+Nomedevice+\"', '\"+Valordistancia+\"', '\"+Valortemp+\"', '\"+Valortemporeed+\"', '\"+Valorumidade+\"')\";\n\n//msg.topic = \"INSERT INTO pji3(`temperatura`, `umidade`, `pressao`) VALUES ('\"+60+\"', '\"+35+\"', '\"+50+\"')\";\n//msg.topic = \"INSERT INTO pji3(`temperatura`, `umidade`, `pressao`) VALUES ('+ValorTemperatura+', '+ValorUmidade+', '+ValorPressao+')\";\n//msg.topic = \"INSERT INTO pji3(`temperatura`, `umidade`, `pressao`) VALUES ('ValorTemperatura', 'ValorUmidade', 'ValorPressao')\";\n\n//msg.topic = \"INSERT INTO pji3(`temperatura`, `umidade`, `pressao`) VALUES (?,?,?)\";\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":280,
      "y":280,
      "wires":[
         [
            "9bfb2459.c0f188"
         ]
      ]
   },
   {
      "id":"c793cec1.2136",
      "type":"mqtt in",
      "z":"d7213e9a.3798b",
      "name":"",
      "topic":"v3/testepji@ttn/devices/+/up",
      "qos":"2",
      "datatype":"json",
      "broker":"1349f274.c11dbe",
      "nl":false,
      "rap":true,
      "rh":0,
      "x":200,
      "y":80,
      "wires":[
         [
            "c04d179e.866ed8"
         ]
      ]
   },
   {
      "id":"9bfb2459.c0f188",
      "type":"mysql",
      "z":"d7213e9a.3798b",
      "mydb":"bc8ef640.52a7d8",
      "name":"",
      "x":490,
      "y":440,
      "wires":[
         [
            "1a8cb0f1.19ffdf"
         ]
      ]
   },
   {
      "id":"2051142a.f6aa1c",
      "type":"function",
      "z":"d7213e9a.3798b",
      "name":"",
      "func":"var newpayload1 = [\n    {\n        \"series\": [\"temp\"],\n        \"data\": [[]],\n        \"labels\": [\"\"]\n    }];\nvar newpayload2 = [\n    {\n        \"series\": [\"umidade\"],\n        \"data\": [[]],\n        \"labels\": [\"\"]\n    }\n];\nvar newpayload3 = [\n    {\n        \"series\": [\"distancia\"],\n        \"data\": [[]],\n        \"labels\": [\"\"]\n    }\n];\nvar newpayload4 = [\n    {\n        \"series\": [\"temporeed\"],\n        \"data\": [[]],\n        \"labels\": [\"\"]\n    }\n];\nmsg.payload.forEach(e =>\n        newpayload1[0].data[0].push({\n            \"x\": e.timestamp,\n            \"y\": e.temp\n\n        }));\nmsg.payload.forEach(e =>\n        newpayload2[0].data[0].push({\n            \"x\": e.timestamp,\n            \"y\": e.umidade\n            \n        }));\n        \nmsg.payload.forEach(e =>\n        newpayload3[0].data[0].push({\n            \"x\": e.timestamp,\n            \"y\": e.distancia\n            \n        }));\n        \nmsg.payload.forEach(e =>\n        newpayload4[0].data[0].push({\n            \"x\": e.timestamp,\n            \"y\": e.temporeed\n            \n        }));\n\nvar newmsg = [{},{},{},{},{}];\nnewmsg[0].topic = \"temp\";\nnewmsg[0].payload = newpayload1;\nnewmsg[1].topic = \"umidade\";\nnewmsg[1].payload = newpayload2;\nnewmsg[2].topic = \"distancia\";\nnewmsg[2].payload = newpayload3;\nnewmsg[3].topic = \"temporeed\";\nnewmsg[3].payload = newpayload4;\n//newmsg[3].payload = newpayload1[0].data[0][newpayload1[0].data[0].length - 1].y;\n//newmsg[4].payload = newpayload2[0].data[0][newpayload1[0].data[0].length - 1].y;\n//newmsg[5].payload = newpayload3[0].data[0][newpayload1[0].data[0].length - 1].y;\n\nreturn newmsg;",
      "outputs":5,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":900,
      "y":460,
      "wires":[
         [
            "423b79fe.1bf6a8"
         ],
         [
            "392f3bd4.1f9fd4"
         ],
         [
            "2371ac3b.4f9454"
         ],
         [
            "3c28712c.a2509e"
         ],
         [
            
         ]
      ]
   },
   {
      "id":"c43fbba6.505a38",
      "type":"ui_text",
      "z":"d7213e9a.3798b",
      "group":"d077ebb5.288008",
      "order":1,
      "width":0,
      "height":0,
      "name":"",
      "label":"<h1>Ultima Coleta Realizada</h1>",
      "format":"{{msg.payload}}",
      "layout":"col-center",
      "x":620,
      "y":180,
      "wires":[
         
      ]
   },
   {
      "id":"4d6ccbb7.a505a4",
      "type":"function",
      "z":"d7213e9a.3798b",
      "name":"Pega Ultima Coleta",
      "func":"var msg1 = {};\nmsg1.payload = (new Date(msg.payload.received_at));\nmsg1.topic = \"\";\n\nvar msg2 = {};\nmsg2.payload = msg1.payload.toLocaleString('pt-BR');\n\nglobal.set('last_notify',msg.payload.received_at);\n\n\nreturn msg2;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":330,
      "y":180,
      "wires":[
         [
            "c43fbba6.505a38"
         ]
      ]
   },
   {
      "id":"70616aff.103c24",
      "type":"function",
      "z":"d7213e9a.3798b",
      "name":"",
      "func":"\nlet startDateTime = msg.payload.startDate.slice(0, 10) + \" \" + msg.payload.startTime\nlet endDateTime = msg.payload.endDate.slice(0, 10) + \" \" + msg.payload.endTime\n\n\n//msg.topic = \"SELECT distancia,temp,umidade,timestamp FROM pji3.pji WHERE timestamp BETWEEN '\"+msg1+\"' AND '\"+msg2+\"'\";\n//msg.topic = `SELECT * FROM pji3.pji WHERE timestamp BETWEEN SUBTIME('${startDateTime}', \"03:00:00\") AND SUBTIME('${endDateTime}', \"03:00:00\")`\nmsg.topic = `SELECT * FROM pji3.pji WHERE timestamp BETWEEN ('${startDateTime}') AND ('${endDateTime}')`\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":300,
      "y":420,
      "wires":[
         [
            "9bfb2459.c0f188"
         ]
      ]
   },
   {
      "id":"a6a3ccfd.10b33",
      "type":"function",
      "z":"d7213e9a.3798b",
      "name":"",
      "func":"\nlet startDateTime2 = msg.payload.startDate2.slice(0, 10) + \" \" + msg.payload.startTime2\nlet endDateTime2 = msg.payload.endDate2.slice(0, 10) + \" \" + msg.payload.endTime2\n\n\n//msg.topic = \"SELECT distancia,temp,umidade,timestamp FROM pji3.pji WHERE timestamp BETWEEN '\"+msg1+\"' AND '\"+msg2+\"'\";\nmsg.topic = `SELECT distancia,temp,umidade,temporeed,timestamp FROM pji WHERE timestamp BETWEEN ('${startDateTime2}') AND ('${endDateTime2}')`\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":300,
      "y":480,
      "wires":[
         [
            "9bfb2459.c0f188"
         ]
      ]
   },
   {
      "id":"39ba2ec7.1658d2",
      "type":"inject",
      "z":"d7213e9a.3798b",
      "name":"Limpa Tabela/Grafico",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":true,
      "onceDelay":0.1,
      "topic":"",
      "payload":"[]",
      "payloadType":"json",
      "x":600,
      "y":280,
      "wires":[
         [
            "1fd22ed4.ee8301"
         ]
      ]
   },
   {
      "id":"270d5fd9.03bd7",
      "type":"node-red-contrib-whatsapp-cmb-send-message",
      "z":"d7213e9a.3798b",
      "name":"Gustavo",
      "account":"12462d90.26fae2",
      "text":"payload",
      "inputtypemessage":"msg",
      "rejectssl":false,
      "x":500,
      "y":720,
      "wires":[
         [
            "38bea0b3.60d7"
         ]
      ]
   },
   {
      "id":"e71879e5.7115a8",
      "type":"function",
      "z":"d7213e9a.3798b",
      "name":"",
      "func":"var now = Date.now();\nvar last = global.get('last_notify');\nvar diff = 15*60*100;\n//var diff = 100;\n\nvar newLast = Math.round(new Date(last).getTime()/1000);\n\nconsole.log(now);\nconsole.log(last);\nconsole.log(now - last);\n\n// var newmsg = [{},{},{},{}];\n// newmsg[0].payload = (newLast);\n// newmsg[0].topic = \"LAST\";\n// newmsg[1].payload = (now);\n// newmsg[1].topic = \"NOW\";\n// newmsg[2].payload = (diff);\n// newmsg[2].topic = \"DIFF\";\n// newmsg[3].payload = (now - newLast);\n// newmsg[3].topic = \"NOW and LAST\";\n\nif ((now - newLast) < diff) {\n\tglobal.set('last_notify', now);\n\tmsg.payload = 'Monitoramento - \\r\\n';\n\tmsg.payload += msg.error.message + '\\r\\n';\n\tmsg.payload += Date(now).toString();\n\treturn msg;\n}\n\n\nreturn msg;\n",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":320,
      "y":720,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"7d04f0e7.a948d",
      "type":"catch",
      "z":"d7213e9a.3798b",
      "name":"",
      "scope":[
         "9ca3ba98.f0ef88"
      ],
      "uncaught":false,
      "x":110,
      "y":720,
      "wires":[
         [
            "e71879e5.7115a8"
         ]
      ]
   },
   {
      "id":"9ca3ba98.f0ef88",
      "type":"function",
      "z":"d7213e9a.3798b",
      "name":"AlarmeDistancia",
      "func":"var distancia = msg.payload.uplink_message.decoded_payload.distancia;\n//var distancia = 30; \n\nif (distancia >= 95){\n\tthrow ['EMERGENCIA !! \\r\\nO nível do rio está em  ' + distancia.toString()];\n}else if (distancia > 80){\n\tthrow['ATENÇÃO, \\r\\nO nível do rio está em ' + distancia.toString()];\n}",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":300,
      "y":600,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"28e480b4.c48ca",
      "type":"switch",
      "z":"d7213e9a.3798b",
      "name":"",
      "property":"topic",
      "propertyType":"msg",
      "rules":[
         {
            "t":"cont",
            "v":"SELECT distancia",
            "vt":"str"
         },
         {
            "t":"cont",
            "v":"SELECT *",
            "vt":"str"
         }
      ],
      "checkall":"true",
      "repair":false,
      "outputs":2,
      "x":730,
      "y":520,
      "wires":[
         [
            "2051142a.f6aa1c"
         ],
         [
            "60acf9bd.2a74d8"
         ]
      ]
   },
   {
      "id":"38bea0b3.60d7",
      "type":"debug",
      "z":"d7213e9a.3798b",
      "name":"",
      "active":false,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"true",
      "targetType":"full",
      "statusVal":"",
      "statusType":"auto",
      "x":670,
      "y":720,
      "wires":[
         
      ]
   },
   {
      "id":"fae305f7.7be778",
      "type":"inject",
      "z":"d7213e9a.3798b",
      "name":"",
      "props":[
         {
            "p":"payload.uplink_message.decoded_payload.distancia",
            "v":"90",
            "vt":"num"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"",
      "payloadType":"str",
      "x":110,
      "y":660,
      "wires":[
         [
            "9ca3ba98.f0ef88"
         ]
      ]
   },
   {
      "id":"60acf9bd.2a74d8",
      "type":"function",
      "z":"d7213e9a.3798b",
      "name":"",
      "func":"\nfunction refatoraData(data) {\n    //let time = new Date(data).toLocaleString('pt-BR',{timeZone:'UTC'})\n    let time = new Date(data)\n    time.setHours(time.getHours()-3)\n    return time.toLocaleString('pt-BR',{timeZone:'UTC'});\n}\n\n\n\nvar newPayload =\n[\n    {\n        \"nomeDevice\": [],\n        \"timestamp\": [],\n        \"distancia\": [],\n        \"temp\": [],\n        \"umidade\": [],\n        \"temporeed\":[]\n    }\n];\n\n\nmsg.payload.forEach(e =>\n        newPayload.push({\n          \"nomeDevice\": e.nomeDevice,\n          \"timestamp\": refatoraData(e.timestamp),\n          \"distancia\": e.distancia,\n          \"temp\" : e.temp,\n          \"umidade\": e.umidade,\n          \"temporeed\": e.temporeed\n          })\n        );\n\nvar newmsg = {}\nnewmsg.topic = \"Tabela\";\nnewmsg.payload = newPayload;\n\nreturn newmsg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":900,
      "y":580,
      "wires":[
         [
            "9e5358af.2a07e8"
         ]
      ]
   },
   {
      "id":"c04d179e.866ed8",
      "type":"link out",
      "z":"d7213e9a.3798b",
      "name":"nuvem",
      "links":[
         "2ae35c33.da4964",
         "6cf7505a.58cc3",
         "f6d528c2.2ed4a8",
         "e686775e.97f4a8"
      ],
      "x":375,
      "y":80,
      "wires":[
         
      ]
   },
   {
      "id":"f6d528c2.2ed4a8",
      "type":"link in",
      "z":"d7213e9a.3798b",
      "name":"",
      "links":[
         "c04d179e.866ed8",
         "cfe110e9.78298"
      ],
      "x":135,
      "y":600,
      "wires":[
         [
            "9ca3ba98.f0ef88"
         ]
      ]
   },
   {
      "id":"2ae35c33.da4964",
      "type":"link in",
      "z":"d7213e9a.3798b",
      "name":"",
      "links":[
         "c04d179e.866ed8",
         "cfe110e9.78298"
      ],
      "x":115,
      "y":280,
      "wires":[
         [
            "70c6c75e.188ef8"
         ]
      ]
   },
   {
      "id":"6f9acea2.accd8",
      "type":"link in",
      "z":"d7213e9a.3798b",
      "name":"",
      "links":[
         "1a8cb0f1.19ffdf"
      ],
      "x":615,
      "y":520,
      "wires":[
         [
            "28e480b4.c48ca"
         ]
      ]
   },
   {
      "id":"1a8cb0f1.19ffdf",
      "type":"link out",
      "z":"d7213e9a.3798b",
      "name":"",
      "links":[
         "6f9acea2.accd8"
      ],
      "x":615,
      "y":440,
      "wires":[
         
      ]
   },
   {
      "id":"1fd22ed4.ee8301",
      "type":"link out",
      "z":"d7213e9a.3798b",
      "name":"Limpa Tabela",
      "links":[
         "7b098d6.7f19474",
         "ee71093b.95ca58",
         "cc6145b9.4f1f08",
         "49dbfeff.d0936"
      ],
      "x":755,
      "y":280,
      "wires":[
         
      ]
   },
   {
      "id":"423b79fe.1bf6a8",
      "type":"link out",
      "z":"d7213e9a.3798b",
      "name":"",
      "links":[
         "77d742f1.8b879c",
         "43a0138c.f233ec"
      ],
      "x":1095,
      "y":380,
      "wires":[
         
      ]
   },
   {
      "id":"392f3bd4.1f9fd4",
      "type":"link out",
      "z":"d7213e9a.3798b",
      "name":"",
      "links":[
         "dbcf8bf8.0669f8",
         "35ce013.4ab3afe"
      ],
      "x":1095,
      "y":440,
      "wires":[
         
      ]
   },
   {
      "id":"2371ac3b.4f9454",
      "type":"link out",
      "z":"d7213e9a.3798b",
      "name":"",
      "links":[
         "7670bcc.082e144",
         "8dbad59a.fe5218"
      ],
      "x":1095,
      "y":500,
      "wires":[
         
      ]
   },
   {
      "id":"3c28712c.a2509e",
      "type":"link out",
      "z":"d7213e9a.3798b",
      "name":"",
      "links":[
         "8ab6b55d.b54a98",
         "b2a69078.cf1eb"
      ],
      "x":1095,
      "y":560,
      "wires":[
         
      ]
   },
   {
      "id":"9e5358af.2a07e8",
      "type":"link out",
      "z":"d7213e9a.3798b",
      "name":"",
      "links":[
         "f51f6087.0ee",
         "64d7fcb8.3275e4"
      ],
      "x":1015,
      "y":580,
      "wires":[
         
      ]
   },
   {
      "id":"489305ff.a41f3c",
      "type":"link in",
      "z":"d7213e9a.3798b",
      "name":"form Relatorio - função",
      "links":[
         "f10419a3.00bcf8",
         "c596e930.a5ab68"
      ],
      "x":115,
      "y":420,
      "wires":[
         [
            "70616aff.103c24"
         ]
      ]
   },
   {
      "id":"f548c4fe.6ee328",
      "type":"link in",
      "z":"d7213e9a.3798b",
      "name":"Form Monitoramento - função",
      "links":[
         "1852dee.ba50121",
         "4156e51f.e6ae7c"
      ],
      "x":115,
      "y":480,
      "wires":[
         [
            "a6a3ccfd.10b33"
         ]
      ]
   },
   {
      "id":"e686775e.97f4a8",
      "type":"link in",
      "z":"d7213e9a.3798b",
      "name":"",
      "links":[
         "c04d179e.866ed8",
         "cfe110e9.78298"
      ],
      "x":115,
      "y":180,
      "wires":[
         [
            "4d6ccbb7.a505a4"
         ]
      ]
   },
   {
      "id":"1349f274.c11dbe",
      "type":"mqtt-broker",
      "name":"TTN AU1",
      "broker":"nam1.cloud.thethings.network",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "protocolVersion":"4",
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "birthMsg":{
         
      },
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "closeMsg":{
         
      },
      "willTopic":"",
      "willQos":"0",
      "willPayload":"",
      "willMsg":{
         
      },
      "sessionExpiry":""
   },
   {
      "id":"bc8ef640.52a7d8",
      "type":"MySQLdatabase",
      "name":"pji3",
      "host":"127.0.0.1",
      "port":"3306",
      "db":"pji3",
      "tz":"",
      "charset":"UTF8"
   },
   {
      "id":"d077ebb5.288008",
      "type":"ui_group",
      "name":"Ultima Coleta",
      "tab":"eebde058.2a2df",
      "order":1,
      "disp":false,
      "width":"6",
      "collapse":false
   },
   {
      "id":"12462d90.26fae2",
      "type":"node-red-contrib-whatsapp-cmb-account",
      "name":"Gustavo"
   },
   {
      "id":"eebde058.2a2df",
      "type":"ui_tab",
      "name":"HMB-Monitoramento",
      "icon":"dashboard",
      "order":7,
      "disabled":false,
      "hidden":false
   }
]
