codigos/servidor/pji.json
[
   {
      "id":"219b97ef.c59018",
      "type":"tab",
      "label":"PJI",
      "disabled":false,
      "info":""
   },
   {
      "id":"78ff9a34.090644",
      "type":"function",
      "z":"219b97ef.c59018",
      "name":"insert",
      "func":"// ESSE TAVA FUNCIONANDO\n//var Temperatura = msg.payload.Temperatura\n//var Umidade = msg.payload.Umidade\n//var Pressao = msg.payload.Pressao\n//var ValorTemperatura = msg.payload.ValorTemperatura\n//var ValorUmidade = msg.payload.ValorUmidade\n//var ValorPressao = msg.payload.ValorPressao\n\nvar Timestamp = msg.payload.received_at\nvar Nomedevice = msg.payload.end_device_ids.device_id\nvar Valordistancia = msg.payload.uplink_message.decoded_payload.distancia\nvar Valortemp = msg.payload.uplink_message.decoded_payload.temp\nvar Valortemporeed = msg.payload.uplink_message.decoded_payload.temporeed\nvar Valorumidade = msg.payload.uplink_message.decoded_payload.umidade\n\n//msg.payload = [ValorTemperatura,ValorUmidade,ValorPressao]\n//var ValorUmidade = msg.payload.ValorUmidade\n//var ValorPressao = msg.payload.ValorPressao.payload\n\n// TAVA FUNCIONANDO\n//msg.topic = \"INSERT INTO pji3(`temperatura`, `umidade`, `pressao`) VALUES ('\"+ValorDistancia+\"', '\"+Valortemp+\"', '\"+Valortemporeed+\"', '\"+Valorumidade+\"')\";\n\n//msg.topic = \"INSERT INTO pji(`timestamp`, `nomeDevice`, `distancia`, `temp`, `temporeed`, `umidade`) VALUES (\"+Timestamp+\"', \"+Nomedevice+\"', '\"+Valordistancia+\"', '\"+Valortemp+\"', '\"+Valortemporeed+\"', '\"+Valorumidade+\"')\";\nmsg.topic = \"INSERT INTO pji(`nomeDevice`, `distancia`, `temp`, `temporeed`, `umidade`) VALUES ('\"+Nomedevice+\"', '\"+Valordistancia+\"', '\"+Valortemp+\"', '\"+Valortemporeed+\"', '\"+Valorumidade+\"')\";\n\n//msg.topic = \"INSERT INTO pji3(`temperatura`, `umidade`, `pressao`) VALUES ('\"+60+\"', '\"+35+\"', '\"+50+\"')\";\n//msg.topic = \"INSERT INTO pji3(`temperatura`, `umidade`, `pressao`) VALUES ('+ValorTemperatura+', '+ValorUmidade+', '+ValorPressao+')\";\n//msg.topic = \"INSERT INTO pji3(`temperatura`, `umidade`, `pressao`) VALUES ('ValorTemperatura', 'ValorUmidade', 'ValorPressao')\";\n\n//msg.topic = \"INSERT INTO pji3(`temperatura`, `umidade`, `pressao`) VALUES (?,?,?)\";\n\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":470,
      "y":360,
      "wires":[
         [
            "3f28b178.93b7ee"
         ]
      ]
   },
   {
      "id":"fc3e194a.b83258",
      "type":"mqtt in",
      "z":"219b97ef.c59018",
      "name":"",
      "topic":"v3/testepji@ttn/devices/+/up",
      "qos":"2",
      "datatype":"json",
      "broker":"1349f274.c11dbe",
      "nl":false,
      "rap":true,
      "rh":0,
      "x":200,
      "y":360,
      "wires":[
         [
            "78ff9a34.090644",
            "f5db8452.5aecc8",
            "2c50e151.e30f5e",
            "d70a1469.ce90b8",
            "4c235f6f.a78c3"
         ]
      ]
   },
   {
      "id":"3f28b178.93b7ee",
      "type":"mysql",
      "z":"219b97ef.c59018",
      "mydb":"bc8ef640.52a7d8",
      "name":"",
      "x":690,
      "y":360,
      "wires":[
         [
            "f180f7e8.c1ca58",
            "4858cb25.3a1604"
         ]
      ]
   },
   {
      "id":"effa5f98.da097",
      "type":"mysql",
      "z":"219b97ef.c59018",
      "mydb":"bc8ef640.52a7d8",
      "name":"",
      "x":310,
      "y":1480,
      "wires":[
         [
            "34d451f9.5b63fe"
         ]
      ]
   },
   {
      "id":"34d451f9.5b63fe",
      "type":"debug",
      "z":"219b97ef.c59018",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":590,
      "y":1460,
      "wires":[
         
      ]
   },
   {
      "id":"9022ca96.893008",
      "type":"function",
      "z":"219b97ef.c59018",
      "name":"SELECT Data",
      "func":"//msg.topic = \"SELECT * FROM pji3 WHERE umidade=30\";\nmsg.topic = \"SELECT * FROM pji\";\n//msg.topic = \"SELECT nomeDevice FROM pji\";\nmsg.payload = [msg.payload];\nreturn msg;",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":480,
      "y":520,
      "wires":[
         [
            "3f28b178.93b7ee"
         ]
      ]
   },
   {
      "id":"998e95b.d2a7e68",
      "type":"inject",
      "z":"219b97ef.c59018",
      "name":"Go",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":"",
      "topic":"",
      "payload":"warehouse",
      "payloadType":"str",
      "x":290,
      "y":520,
      "wires":[
         [
            "9022ca96.893008"
         ]
      ]
   },
   {
      "id":"2d7379d4.2e0e46",
      "type":"ui_button",
      "z":"219b97ef.c59018",
      "name":"",
      "group":"5da82adb.729a34",
      "order":1,
      "width":0,
      "height":0,
      "passthru":false,
      "label":"Ultimas coletas",
      "tooltip":"",
      "color":"",
      "bgcolor":"",
      "icon":"",
      "payload":"",
      "payloadType":"str",
      "topic":"SELECT * FROM pji",
      "topicType":"str",
      "x":500,
      "y":280,
      "wires":[
         [
            "3f28b178.93b7ee"
         ]
      ]
   },
   {
      "id":"f180f7e8.c1ca58",
      "type":"ui_table",
      "z":"219b97ef.c59018",
      "group":"5da82adb.729a34",
      "name":"",
      "order":2,
      "width":"32",
      "height":"8",
      "columns":[
         {
            "field":"idDevice",
            "title":"idDevice",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"nomeDevice",
            "title":"Nome Device",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"distancia",
            "title":"Distância",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"temp",
            "title":"Temperatura",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"temporeed",
            "title":"Temporeed",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         },
         {
            "field":"umidade",
            "title":"Umidade",
            "width":"",
            "align":"left",
            "formatter":"plaintext",
            "formatterParams":{
               "target":"_blank"
            }
         }
      ],
      "outputs":0,
      "cts":false,
      "x":830,
      "y":240,
      "wires":[
         
      ]
   },
   {
      "id":"b21fe90a.2c2f28",
      "type":"ui_dropdown",
      "z":"219b97ef.c59018",
      "name":"",
      "label":"Lista Sensores",
      "tooltip":"",
      "place":"Select option",
      "group":"5200940.2f4b86c",
      "order":1,
      "width":0,
      "height":0,
      "passthru":true,
      "multiple":false,
      "options":[
         {
            "label":"",
            "value":"",
            "type":"str"
         }
      ],
      "payload":"",
      "topic":"topic",
      "topicType":"msg",
      "x":180,
      "y":100,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"392e1d55.eebd92",
      "type":"inject",
      "z":"219b97ef.c59018",
      "name":"teste divece",
      "props":[
         {
            "p":"payload"
         },
         {
            "p":"topic",
            "vt":"str"
         }
      ],
      "repeat":"",
      "crontab":"",
      "once":false,
      "onceDelay":0.1,
      "topic":"SELECT * FROM pji",
      "payload":"",
      "payloadType":"str",
      "x":330,
      "y":460,
      "wires":[
         [
            "3f28b178.93b7ee"
         ]
      ]
   },
   {
      "id":"273d8fcf.29927",
      "type":"ui_chart",
      "z":"219b97ef.c59018",
      "name":"",
      "group":"67fcf6eb.6d9ee8",
      "order":1,
      "width":8,
      "height":3,
      "label":"chart",
      "chartType":"line",
      "legend":"false",
      "xformat":"msg.payload",
      "interpolate":"linear",
      "nodata":"",
      "dot":false,
      "ymin":"0",
      "ymax":"100",
      "removeOlder":1,
      "removeOlderPoints":"",
      "removeOlderUnit":"3600",
      "cutout":0,
      "useOneColor":false,
      "useUTC":false,
      "colors":[
         "#1f77b4",
         "#aec7e8",
         "#ff7f0e",
         "#2ca02c",
         "#98df8a",
         "#d62728",
         "#ff9896",
         "#9467bd",
         "#c5b0d5"
      ],
      "outputs":1,
      "useDifferentColor":false,
      "x":1230,
      "y":560,
      "wires":[
         [
            
         ]
      ]
   },
   {
      "id":"fd241eb7.1877e",
      "type":"function",
      "z":"219b97ef.c59018",
      "name":"",
      "func":"//var str = msg.payload;\nvar m={};\nm.labels = [\"Tempo\"];\nm.series = ['Distancia', 'Temperatura','Umidade'];\nm.data = [\n//    [str[0].Distancia],\n//    [str[0].Temperatura],\n//    [str[0].Umidade]\n    [msg.payload[0].Distancia[0]],\n    [msg.payload[0].Temperatura[1]],\n    [msg.payload[0].Umidade[2]]\n  ];\nreturn {payload:[m]};",
      "outputs":1,
      "noerr":0,
      "initialize":"",
      "finalize":"",
      "libs":[
         
      ],
      "x":1060,
      "y":540,
      "wires":[
         [
            "273d8fcf.29927",
            "242e7176.6f7d2e"
         ]
      ]
   },
   {
      "id":"4858cb25.3a1604",
      "type":"change",
      "z":"219b97ef.c59018",
      "name":"",
      "rules":[
         {
            "t":"set",
            "p":"payload",
            "pt":"msg",
            "to":"[{\"Distancia\":[$.payload.distancia],\"Temperatura\":[$.payload.temp],\"Umidade\":[$.payload.umidade]}]",
            "tot":"jsonata"
         }
      ],
      "action":"",
      "property":"",
      "from":"",
      "to":"",
      "reg":false,
      "x":840,
      "y":480,
      "wires":[
         [
            "fd241eb7.1877e",
            "d6bf20c7.b0a0d"
         ]
      ]
   },
   {
      "id":"d6bf20c7.b0a0d",
      "type":"debug",
      "z":"219b97ef.c59018",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":1070,
      "y":420,
      "wires":[
         
      ]
   },
   {
      "id":"242e7176.6f7d2e",
      "type":"debug",
      "z":"219b97ef.c59018",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"false",
      "statusVal":"",
      "statusType":"auto",
      "x":1250,
      "y":500,
      "wires":[
         
      ]
   },
   {
      "id":"f5db8452.5aecc8",
      "type":"debug",
      "z":"219b97ef.c59018",
      "name":"",
      "active":true,
      "tosidebar":true,
      "console":false,
      "tostatus":false,
      "complete":"payload",
      "targetType":"msg",
      "statusVal":"",
      "statusType":"auto",
      "x":490,
      "y":160,
      "wires":[
         
      ]
   },
   {
      "id":"2c50e151.e30f5e",
      "type":"ui_gauge",
      "z":"219b97ef.c59018",
      "name":"",
      "group":"7c625fa4.37381",
      "order":1,
      "width":7,
      "height":5,
      "gtype":"gage",
      "title":"Temperatura Atual",
      "label":"ºC",
      "format":"{{msg.payload.uplink_message.decoded_payload.temp}}",
      "min":0,
      "max":"100",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":190,
      "y":140,
      "wires":[
         
      ]
   },
   {
      "id":"d70a1469.ce90b8",
      "type":"ui_gauge",
      "z":"219b97ef.c59018",
      "name":"",
      "group":"438e434c.ed827c",
      "order":1,
      "width":7,
      "height":5,
      "gtype":"gage",
      "title":"Distancia Atual",
      "label":"cm",
      "format":"{{msg.payload.uplink_message.decoded_payload.distancia}}",
      "min":0,
      "max":"200",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":180,
      "y":180,
      "wires":[
         
      ]
   },
   {
      "id":"4c235f6f.a78c3",
      "type":"ui_gauge",
      "z":"219b97ef.c59018",
      "name":"",
      "group":"f1fbfabf.da3a98",
      "order":1,
      "width":7,
      "height":5,
      "gtype":"gage",
      "title":"Umidade Atual",
      "label":"%",
      "format":"{{msg.payload.uplink_message.decoded_payload.umidade}}",
      "min":0,
      "max":"100",
      "colors":[
         "#00b500",
         "#e6e600",
         "#ca3838"
      ],
      "seg1":"",
      "seg2":"",
      "x":180,
      "y":220,
      "wires":[
         
      ]
   },
   {
      "id":"1349f274.c11dbe",
      "type":"mqtt-broker",
      "name":"TTN AU1",
      "broker":"nam1.cloud.thethings.network",
      "port":"1883",
      "clientid":"",
      "usetls":false,
      "protocolVersion":"4",
      "keepalive":"60",
      "cleansession":true,
      "birthTopic":"",
      "birthQos":"0",
      "birthPayload":"",
      "birthMsg":{
         
      },
      "closeTopic":"",
      "closeQos":"0",
      "closePayload":"",
      "closeMsg":{
         
      },
      "willTopic":"",
      "willQos":"0",
      "willPayload":"",
      "willMsg":{
         
      },
      "sessionExpiry":""
   },
   {
      "id":"bc8ef640.52a7d8",
      "type":"MySQLdatabase",
      "name":"pji3",
      "host":"127.0.0.1",
      "port":"3306",
      "db":"pji3",
      "tz":"",
      "charset":"UTF8"
   },
   {
      "id":"5da82adb.729a34",
      "type":"ui_group",
      "name":"Tabela",
      "tab":"5f202b89.ec7cf4",
      "order":9,
      "disp":true,
      "width":"32",
      "collapse":false
   },
   {
      "id":"5200940.2f4b86c",
      "type":"ui_group",
      "name":"Filtro Sensor",
      "tab":"5f202b89.ec7cf4",
      "order":1,
      "disp":true,
      "width":"8",
      "collapse":false
   },
   {
      "id":"67fcf6eb.6d9ee8",
      "type":"ui_group",
      "name":"Histórico",
      "tab":"5f202b89.ec7cf4",
      "order":7,
      "disp":true,
      "width":"8",
      "collapse":false
   },
   {
      "id":"7c625fa4.37381",
      "type":"ui_group",
      "name":"Temperatura Tempo Real",
      "tab":"5f202b89.ec7cf4",
      "order":2,
      "disp":true,
      "width":"8",
      "collapse":false
   },
   {
      "id":"438e434c.ed827c",
      "type":"ui_group",
      "name":"Distancia Tempo Real",
      "tab":"5f202b89.ec7cf4",
      "order":3,
      "disp":true,
      "width":"8",
      "collapse":false
   },
   {
      "id":"f1fbfabf.da3a98",
      "type":"ui_group",
      "name":"Umidade Tempo Real",
      "tab":"5f202b89.ec7cf4",
      "order":4,
      "disp":true,
      "width":"8",
      "collapse":false
   },
   {
      "id":"5f202b89.ec7cf4",
      "type":"ui_tab",
      "name":"HMB-Control",
      "icon":"dashboard",
      "order":12,
      "disabled":false,
      "hidden":false
   }
]